.container{
    background-color: black;
    width: 80vw;
    height: 70vh;

}
.box{ background-color:aqua;
    width: 8vw;
    height: 7vh;
    animation: SATYAM_KA_ANIMATION 4S ease-in-out 2s infinite alternate-reverse forwards running,
    SATYAM-KA-DUSRA-ANIMATION 5s ease-in-out 3S infinite alternate-reverse forwards running;
}
@keyframes SATYAM_KA_ANIMATION {
    from{ transform: translateX(10vw)translateY(30vh)scale(2);
        background-color: red;
        color: yellow;
        
    }
    to{ 
        transform: translateX(50vw) translateY(40vh) scale(10); 
        background-color:yellow;
        color: darkblue;
    }  
}

@keyframes SATYAM-KA-DUSRA-ANIMATION {
    0%{transform: rotate(80deg);}
    20%{transform: rotate(100deg);}
    40%{transform: rotate(150deg);}
    80%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}