.position1{
    position: static;
    color: yellow;background-color: blue;
    border: 10px red solid ;
}
.position2{
    position: relative;
    color: rgb(0, 81, 255);background-color: rgb(255, 242, 0);
    border: 10px rgb(0, 208, 255) solid ;
    top: 50px;
    left: 210px;
}
.position3
{
    position: static;
    color: yellow;background-color: blue;
    width: 80px;
    height: 80px;
    top: 100px;
}
.position4
{
    position: relative;
    color: rgb(0, 47, 255);background-color: rgb(21, 255, 0);
    width: 80px;
    height: 100px;
    bottom: 30px;
}
.position5
{
    position: static;
    color: yellow;background-color: blue;
    width: 80px;
    height: 80px;
    top: 100px;
}
.position6
{
    position: relative;
    color: rgb(0, 47, 255);background-color: rgb(21, 255, 0);
    width: 80px;
    height: 100px;
    bottom: 40px;
}
.position7
{
    position: static;
    color: yellow;background-color: blue;
    width: 80px;
    height: 80px;
    top: 100px;
}
.position8
{
    position: relative;
    color: rgb(0, 47, 255);background-color: rgb(21, 255, 0);
    width: 80px;
    height: 100px;
    bottom: 60px;
    left: 15px;
}